/* Fonte: Open Sans (google fonts)
Cores das fontes: #555, #111;
Cor dos links: #fd8a24;
Cor da top bar e da footer: #333 */

/* Configurações Gerais */
body {
    margin: 0px;
    padding: 0px; 
    font-family: 'Open Sans', sans-serif;
    color: #555;
}

h1, h2 {
    color: #111;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 20px;
    line-height: 32px;
}

a {
    text-decoration: none;
    color: #fd8a24;
    font-weight: bold;
}

/* Configurações Genericas */
#top-bar {
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 8px;
    font-weight: bold;
    font-size: 24px;
    border-bottom: 5px solid #fd8a24;
}

#container {
    width: 888px;
    margin: auto;
    padding: 30px;
}

.headline h1 {
    font-size: 56px;
    line-height: 64px;
}

.subtitle h2 {
    font-size: 20px;
    font-weight: normal;
}


.author {
    font-size: .8em;
    font-weight: bolder;
}

.social-icons {
    margin-top: 10px;
}

.social-icon {
    width: 20px;
    padding: 10px 10px 10px 0px;
}

.content {
    width: 648px;
    margin: auto;
}

.cta {
    font-size: 20px;
    margin: 30px 0;
}

figure {
    padding: 0;
    margin: 30px 0;
    font-size: 12px;
}

figure img {
    width: 100%;
}

#footer {
    background-color: #333;
    height: 100px;
}